$main-blue: #34509e
$main-black: #000000

section
  display: flex

  article
    width: 100%
    display: grid
    grid-template-columns: auto auto
    column-gap: 4rem
    justify-content: center

    img
      max-width: 60vw
      max-height: 90vh
      justify-self: flex-end

    main
      display: flex
      flex-direction: column
      align-items: end

      div.inmain
        display: flex
        flex-direction: column
        align-items: end

        div.underline
          width: 100%
          border-bottom: 2px solid $main-blue
          margin-bottom: 1rem
          display: flex
          justify-content: end

          h1
            font-size: 1.4rem
            font-weight: bold

        p
          font-size: 1.1rem
          margin-bottom: 0.6rem

@media (orientation: portrait), (max-width: 600px)
  section
    article
      grid-template-columns: 1fr

      img
        max-width: 96vw
        max-height: 96vh

      img, main, div.inmain
        justify-self: center

      main
        align-items: center
