$big-gap: 1.3vw
$mid-gap: 2.7vw
$lil-gap: 1vw

#savviorGrid
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  justify-items: center
  // align-items: center
  // grid-gap: 1vw 1vw
  // padding: 0 1vw
  justify-content: space-evenly

  .img-container
    width: 32vw
    margin-bottom: $big-gap
    img
      width: 100%

footer
  padding: $big-gap
  padding-top: 0

@media screen and (max-width: 700px)
  #savviorGrid
    grid-template-columns: 1fr 1fr

    .img-container
        width: 46vw
        margin-bottom: $mid-gap

  footer
    padding: $mid-gap
    padding-top: 0

@media screen and (max-width: 350px)
  #savviorGrid
    grid-template-columns: 1fr

    .img-container
        width: 96vw
        margin-bottom: $lil-gap

  footer
    padding: $lil-gap
    padding-top: 0
