$main-blue: #34509e
$main-black: #000000

section
  display: flex

  article
    width: 100%
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: calc(min(7vw, 8rem))
    justify-content: stretch

    img
      max-width: 60vw
      max-height: 90vh
      justify-self: flex-end

    main
      display: flex
      flex-direction: column
      justify-self: flex-start

      h1
        font-size: 1.4rem
        font-weight: bold
        margin-top: 1rem
        margin-bottom: 6rem

      div.underline
        width: 100%
        border-bottom: 2px solid $main-blue

      h2
        color: $main-blue

      h2, .key
        font-weight: bold

      p, h2
        font-size: 1.1rem
        margin-bottom: 0.6rem

      .moneymoney
        margin-top: 5rem
        margin-bottom: 2rem
        font-size: 1.3rem

      .contact
        display: flex
        background-color: $main-blue
        border-radius: 4rem
        align-self: baseline

        p
          margin: 0.5rem 4rem
          font-size: 1.1rem
          text-decoration: none
          color: white

@media (orientation: portrait), (max-width: 600px)
  section
    article
      grid-template-columns: 1fr

      img
        max-width: 96vw
        max-height: 96vh

      img, main
        justify-self: center

      main
        align-items: center

        h1
          margin-bottom: 2rem

        .moneymoney
          margin-top: 2rem

        .contact
          align-self: center
