$main-blue: #34509e
$main-black: #000000

section
  display: flex

  article
    width: 100%
    display: grid
    grid-template-columns: 3fr 2fr
    column-gap: 6rem
    padding: 0 4rem
    align-content: space-evenly

    img
      max-width: 40vw
      max-height: 80vh
      margin-top: 5rem
      // justify-self: flex-end

    main
      display: flex
      flex-direction: column
      justify-self: center
      text-align: justify

      div.underline
        width: 100%
        border-bottom: 2px solid $main-blue
        margin-bottom: 1rem
        display: flex

      h1
        font-size: 1.4rem
        font-weight: bold

      p
        font-size: 1.1rem
        margin-bottom: 0.6rem

@media (orientation: portrait), (max-width: 600px)
  section
    article
      grid-template-columns: 1fr
      padding: 0

      img
        max-width: 96vw
        max-height: 96vh

      img, main
        justify-self: center

      main
        padding: 0 1rem
