$main-blue: #34509e
$main-black: #000000

@font-face
  font-family: Archivo
  src: url("font/Archivo-Regular.ttf") format("truetype")
  font-weight: normal

@font-face
  font-family: Archivo
  src: url("font/Archivo-Bold.ttf") format("truetype")
  font-weight: bold


// With those settings, the menu is viewable starting at 1000px wideness.

a
  color: $main-blue

body
  font-family: Archivo
  padding: 0
  margin: 0
  background-color: #eeeeee

footer
  display: flex
  padding: 0 1vw 1vw 1vw
  justify-content: flex-end
  align-items: center
  gap: 2vw

header
  display: grid
  grid-template-rows: auto 1fr auto
  grid-template-columns: 2fr auto minmax(6fr, 800px)
  grid-template-areas: "logo _ menu"
  justify-items: space-between
  align-items: center
  margin-bottom: 2rem

  h1
    grid-area: logo
    margin-left: calc(10% - 30px)
    img
      height: 60px

  nav
    grid-area: menu
    display: flex
    justify-content: space-evenly
    align-items: center
    justify-self: stretch

    a
      display: flex // This way the image get centered
      font-size: 1.3rem
      text-decoration: none
      transition: all 0.3s ease-in-out
      color: $main-black

      &:hover
        color: $main-blue

      img
        height: 30px

  button
    display: none

// Here it's for smartphones

@media (max-width: 700px)
  header
    grid-template-columns: 3fr 1fr
    grid-template-areas: "logo button"
    h1
      display: inline

    h2
      display: none

    nav
      display: none

    button
      grid-area: button
      display: block
      width: 50px
      height: 50px
      border: none
      background: none
      background-image: url("img/burger.svg")
      background-repeat: no-repeat
      background-position: center center
      background-size: contain

    &.opened
      height: 100vh
      grid-template-columns: 3fr 1fr
      grid-template-areas: "logo button" "menu menu"

      h1
        display: inline
        visibility: hidden

      title
        display: none

      button
        background-image: url("img/cross.svg")

      nav
        align-self: start
        height: 85%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        font-size: 2rem
