<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{{ get_url(path='img/favicon.png') }}">
	<link rel="stylesheet" href="{{ get_url(path='style.css' ) }}">
	<script src={{ get_url(path='js/menu.js' ) }}></script>

	{% block head %} {% endblock %}
</head>

<body>

	<header>
		<h1>
			<a href="{{ config.base_url }}">
				<img src="{{ get_url(path='img/logo.png') }}" alt="Frédéric Pompeani" />
			</a>
		</h1>

		<nav>
			<a href="{{ config.base_url }}">Portfolio</a>
			<a href="{{ get_url(path='demarche') }}/">Démarche</a>
			<a href="{{ get_url(path='bio') }}/">Bio</a>
			<a href="{{ get_url(path='contact') }}/">Contact</a>
			<a href="https://www.instagram.com/frederic.pompeani/" target="_blank">
				<img src="{{ get_url(path='img/instagram.svg') }}" />
			</a>
		</nav>

		<button id="menu-button">
			<!-- <img src="{{ get_url(path='img/burger.svg') }}" /> -->
		</button>
	</header>

	{% block content %} {% endblock %}

	<footer>

		<p>
			<a href="https://framagit.org/ppom/pompeani.art/-/blob/master/README.md" target="_blank">code et mentions
				légales</a>
		</p>
		<a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.fr" target="_blank">
			<img alt="License Creative Commons Attribution-NonCommercial-NoDerivatives 4.0"
				src="{{ get_url(path='img/cc-by-nc-nd.png') }}" width="100px" />
		</a>

	</footer>

</body>

</html>
