{% extends "base.html" %}

{% block head %}
<title>Frédéric Pompeani</title>
<link rel="stylesheet" href="{{ get_url(path='feed.css') }}">
<meta name="description" content="Peintures de l'artiste Frédéric Pompeani">
<script src="{{ get_url(path='js/lib/enquire.min.js') }}"></script>
<script src="{{ get_url(path='js/lib/savvior.min.js') }}"></script>
<script src="{{ get_url(path='js/feed.js') }}"></script>
{% endblock head %}

{% block content %}

<section id="savviorGrid">
  {% for page in section.pages | reverse %}
    {% if page.title != "Portfolio" and page.title != "Démarche" and page.title != "Bio" and page.title != "Contact" %}
      <div class="img-container">
        <a href="{{ page.permalink | safe }}">
          <img src="{{ page.permalink | safe }}small.webp" alt="{{ page.title }}" loading="lazy" />
        </a>
      </div>
    {% endif %}
  {% endfor %}
</section>

{% endblock content %}
