{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path='paint.css') }}">
<title>Frédéric Pompeani - {{ page.title }}</title>
{% endblock head %}

{% block content %}

<section>
  <article>
    <img src="./big.webp" alt="{{ page.title }}" />
    <main>

      <h1>{{ page.title }}</h1>

      <div class="kv-container">

        <div class="underline">
          <h2>À propos de l'oeuvre</h2>
        </div>

        <p>
          <span class="key">Année : </span>
          <span class="value">{{ page.year }}</span>
        </p>

        <p>
          <span class="key">Technique : </span>
          <span class="value">{{ page.extra.technique }}</span>
        </p>

        <p>
          <span class="key">Dimensions : </span>
          <span class="value">{{ page.extra.dimensions }}</span>
        </p>

        <p>{{ page.extra.collection }}</p>
      </div>

      <p class="moneymoney">{{ page.extra.prix }}</p>

      <a class="contact" href="{{ get_url(path='contact') }}/">
        <p>Contact</p>
      </a>

      <!-- TODO: flèches gauche droite -->

    </main>
  </article>
</section>
{% endblock content %}
