{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path='special.css') }}">
<title>Frédéric Pompeani - {{ page.title }}</title>
<meta name="description" content="{{ page.extra.description }}">
{% endblock head %}

{% block content %}

<section>
  <article>

    <main>
      {{ page.content | safe }}
    </main>

    <img src="./big.webp" alt="{{ page.title }}" />

  </article>
</section>
{% endblock content %}
